name: Docker CD

on:
  workflow_run:
    workflows: ["Python CI"]  
    branches: [ cd ]
    types:
      - completed

jobs:
  publish:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}  # Only run if CI passed
    runs-on: ubuntu-latest

    steps:
      # Checkout the repo
      - uses: actions/checkout@v3

      # Log in to Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Set up Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Set image version based on commit SHA
      - name: Set image tag
        run: echo "IMAGE_TAG=$(echo $GITHUB_SHA | cut -c1-7)" >> $GITHUB_ENV

      # Build and push history image
      - name: Build and push history Docker image
        uses: docker/build-push-action@v5
        with:
          context: .                   # repo root
          file: docker/Dockerfile.history
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/chatroom-history:latest,${{ secrets.DOCKERHUB_USERNAME }}/chatroom-history:${{ env.IMAGE_TAG }}

      # Build and push web image
      - name: Build and push web Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: docker/Dockerfile.web
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/chatroom-history:latest,${{ secrets.DOCKERHUB_USERNAME }}/chatroom-history:${{ env.IMAGE_TAG }}
